@use "variables" as *;
.case-studies_cmp {
  margin-top: 80px;
  height: calc(100vh - 10vh);
  &--text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      width: 300px;
    }
  }
}
