@use "variables" as *;
.case-studies_cmp {
  background: white;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &.component {
    padding-top: 100px;
  }
  &--text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    h1 {
      color: $deep-blue;
    }
    p {
      width: 300px;
      color: $black;
    }
  }
  .case-studies_cmp-project-card {
    &:nth-child(even) {
      .case-studies_cmp-project-card-content {
        flex-direction: row-reverse;
        @media (max-width: $mobile) {
          flex-direction: column;
        }
      }
    }
    &:nth-child(odd) {
      .case-studies_cmp-project-card-content {
        flex-direction: row;
        @media (max-width: $mobile) {
          flex-direction: column;
        }
      }
    }
    &-content {
      display: flex;
      gap: 3%;
      &-image {
        flex: 1;
        img {
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 10px;
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        gap: 10px;
        span {
          display: flex;
          background-color: $yellow;
          width: fit-content;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 5px;
          padding-top: 5px;
          border-radius: 20px;
          align-items: center;
          font-size: 12px;
          color: $deep-blue;
        }
        h2 {
          color: $lighter-blue;
        }
        p {
          color: black;
        }
      }
    }
  }
}
.case-studies-page {
  background-color: white;
}
