@use "variables" as *;
.developed-project_cmp {
  color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &--project-card-wrapper {
    display: flex;
    gap: 20px;
    .developed-project_cmp--project-card {
      border: 1px solid $yellow;
      border-radius: 10px;
      padding: 20px 40px;
      width: 100%;
      justify-content: center;
      display: flex;
      span {
        img {
          width: 50px;
          height: 40px;
        }
      }
    }
  }
}
