@use "variables" as *;
.developed-project_cmp {
  color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &--title {
    p {
      color: $yellow;
    }
  }
  &--project-card-wrapper {
    display: flex;
    gap: 20px;
    .developed-project_cmp--project-card {
      border: 1px solid $deep-blue;
      border-radius: 10px;
      padding: 10px 40px;
      width: 100%;
      justify-content: center;
      display: flex;
      background: white;
      span {
        img {
          width: 100%;
          height: 60px;
        }
      }
    }
  }
}
