@use "variables" as *;

.get-in-touch_cmp {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: $yellow;
  @media (max-width: $mobile) {
    height: 100vh;
  }
  &-title {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 15px;
    h2 {
      color: $deep-blue;
    }
    p {
      width: 60%;
      color: $lighter-blue;
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
  .get-in-touch_cmp-form {
    display: flex;
    justify-content: center;
    form {
      gap: 10px;
      display: flex;
      flex-direction: column;
      width: 50%;
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
    &-email,
    &-mobile,
    &-message {
      input,
      textarea {
        outline: none;
      }
      display: flex;
      flex-direction: column;
      gap: 3px;
      p {
        color: $deep-blue;
      }
    }
    &-email {
      input {
        height: 25px;
      }
    }
    &-mobile {
      input {
        height: 20px;
      }
    }
    &-message {
      textarea {
        height: 100px;
      }
    }
    &-submit-button {
      height: 50px;
      background-color: $lighter-blue;
      color: $white-color;
      border-radius: 10px;
      border: 1px solid $lighter-blue;
      margin-top: 10px;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
