@use "fonts";
@use "variables" as *;
@use "masthead";
@use "header";
@use "developProject";
@use "caseStudies";
@use "experience";
@use "getInTouch";
@use "backToTop";

html {
  scroll-behavior: smooth;
}
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  .component {
    @media (min-width: $desktop) {
      padding: 20px 130px 20px 130px;
    }
     @media (max-width: $mobile) {
      padding: 50px 20px 50px 20px;
    }
  }
}
body {
  background-color: black;
  margin: 0;
  color: $white-color;
}

p,
h3,
h2,
h1 {
  margin: 0px;
}
