@use "fonts";
@use "variables" as *;
@use "masthead";
@use "header";
@use "developProject";
@use "caseStudies";
@use "experience";
@use "getInTouch";
@use "backToTop";

html {
  scroll-behavior: smooth;
}
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  [class$="_cmp"] {
    padding: 20px 130px 20px 130px;
  }
}
body {
  background-color: black;
  margin: 0;
  color: $white-color;
}

p,
h3,
h2,
h1 {
  margin: 0px;
}
