@import "variables";

.header_cmp {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1a3263;
  transition: all 0.5s;
  &.scroll {
    background-color: transparent;
    padding-bottom: 0px;
    padding-top: 10px;
    position: sticky;
    top: 0px;
    padding-left: 120px;
    padding-right: 120px;
    // transition: all 0.5s;
  }
  &--logo-list {
    // background-color: red;
    transition: all 1s;
    background-color: #1a3263;
    ul {
      gap: 20px;
    }
    &.scroll {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 50px;
  }
  &--page-list {
    display: flex;
    background-color: #1a3263;
    width: 100%;
    justify-content: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s;
    padding-left: 50px;
    ul {
      gap: 100px;
    }
    &.scroll {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        color: #e8e2db;
        text-decoration: none;
      }
    }
  }
}

.masthead_cmp {
  background-color: $black;
  padding: 20px 120px 20px 120px;
  display: flex;
  justify-content: center;
  gap: 25%;
  height: calc(100vh - 15vh);
  h1 {
    color: $yellow;
  }
  p {
    color: $white-color;
  }
  &--text-content {
    color: $white-color;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  &--image-content {
    align-items: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  &--button-link-wrapper {
    .masthead_cmp--button-link {
      background-color: $lighter-blue;
      width: 200px;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      transition: transform 0.2s ease;
      &:hover {
        box-shadow:
          0 6px 14px rgba(0, 0, 0, 0.35),
          0 0 30px rgba(255, 255, 255, 0.25);
        transform: translateY(-2px);
      }
      a {
        text-decoration: none;
        color: $white-color;
        text-shadow:
          0 0 5px rgba(255, 255, 255, 0.6),
          0 0 10px rgba(255, 255, 255, 0.4);
      }
    }
  }
}
