.header_cmp {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #1a3263;
  transition: all 0.5s;
  &.scroll {
    background-color: transparent;
    padding-bottom: 0px;
    padding-top: 10px;
    position: sticky;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    // transition: all 0.5s;
  }
  &--logo-list {
    // background-color: red;
    transition: all 1s;
    background-color: #1a3263;
    ul {
      gap: 20px;
    }
    &.scroll {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
  }
  &--page-list {
    display: flex;
    background-color: #1a3263;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s;
    ul {
      gap: 100px;
    }
    &.scroll {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        color: #e8e2db;
        text-decoration: none;
      }
    }
  }
}

.masthead_cmp {
  background-color: black;
  height: 93vh;
  padding: 0px 20px 0px 20px;
  &--text-content {
    color: red;
  }
}
